{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<script>
    function show(){
        var x = document.getElementById('suggestion');
        var icon = document.getElementById('show-icon')
        if (x.type=='password'){
            x.type = 'text';
            icon.className = 'fa fa-eye-slash';
        }
        else {
            x.type = 'password';
            icon.className = 'fa fa-eye';
        }

    }
</script>
<script>
    
    function copy(){
        var content  = document.querySelector('#suggestion');
        content.select();
        document.execCommand('copy');
    }

</script>
<div class='contaner jumbotron mt-0'>
<h3 class='h1 text-center'> Change Your Password</h3>
    <form method='post'>{% csrf_token %}
    <div clas='m-1'>
        {{form.old_password|as_crispy_field}}
    </div>
    <div class='m-2'>
        <h5>Type your new password</h5>
        <div class="input-group mb-3">
          <span class="input-group-text">Suggested</span>
          <input class="form-control" id='suggestion' type='password' readonly value='{{suggestion}}' aria-label="Suggestion">
          <span class="input-group-text">
              <span>
              <a href='#suggestion' onclick="show()" class='mr-1'><i id='show-icon' class='fas fa-eye'></i></a>
              <a href='#suggestion' onclick='copy()'><i class='fas fa-clipboard'></i></a>
          </span>
        </span>
        </div>
        {{form.new_password1|as_crispy_field}}
    <div>
    
    <div clas='m-1'>
        {{form.new_password2|as_crispy_field}}
    </div>
  
  <div class='btn-group mt-2'>
  <button type="submit" class='btn btn-outline-success'>Save changes</button>
  <button type='reset' class='btn btn-outline-primary'>Reset</button>
</div>
</form>
</div>
{% endblock content %}