{% extends 'dashboard/base.html' %}
{% load static %}
{% load only_hours %}


{% block content %}

<div class="container mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 class="title">Deleted Posts</h4>
                </div>
                <div class="card-body">
                    <div class="content">
                        {% if deleted_articles_list %}
                        <div class='float-right mr-4 mb-2'>
            <div class="btn-group">
                <a data-toggle="modal" data-target="#clearModal" class="btn btn-outline-danger btn-sm"
                               href="javascript:void(0)">
                                Clear all <i class='fas fa-trash'></i></a>
                <a href='#footer' class="btn btn-outline-dark btn-sm">
                    <i class='fas fa-angle-down'></i>
                </a>

            </div>
        </div>

        <div class="modal fade" id="clearModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class='fa fa-times'></i></span>
                    </button>
                </div>
                <div class="modal-body">Do you wish to permanently delete these posts? this cannot be undone<p class='text-danger'>Click proceed to continue</p>.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="{% url 'accounts:clear' obj='deleted_posts' %}">Clear</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


                        <section class="blog-list px-3 py-5 p-md-5">
                            {% if deleted_articles_list %}
                            <div class="container">
                                {% for article in deleted_articles_list %}
                                <div class="item mb-5">
                                    <div class="media">
                                        <img style="border-radius:10px; height: 400px;" class="mr-3 img-fluid post-thumb d-none d-md-flex" width='565'
                                             src="{{ article.image.url }}" alt="image">
                                        <div class="media-body">
                                            <h3 class="title mb-1"><a href="javascript:void(0)">{{ article.title }}</a>
                                            </h3>
                                            <div class="meta mb-1"><span class="date"><b>Created:</b> <i>{{ article.date_created|timesince|upto:','}} ago</i></span><br>
                                                <span class="time">{{ article.count_words }} word{{ article.count_words|pluralize }}</span><br>
                                                <span class="time">{{ article.read_time }} min{{ article.read_time|pluralize }} read</span><br>
                                                <span class="comment">{{ article.total_views }} view{{ article.total_views|pluralize }}</span><br>
                                                <span class="comment">{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</span>
                                            </div>
                                            <hr class="solid"><!-- Solid divider -->
                                        </div><!--//media-body-->
                                    </div><!--//media-->
                                </div><!--//item-->
                                {% endfor %}
                            </div>
                            {% else %}
                            <center>
                                <div class="alert alert-info"><b>No deleted posts were found</b></div>
                            </center>
                            {% endif %}
                        </section>


                        {# Pagination for article post #}
                        <nav aria-label="Page navigation example">
                            {% if deleted_articles_list.has_other_pages %}
                            <ul class="pagination justify-content-center">
                                {% if deleted_articles_list.has_previous %}
                                <li class="badge badge-pill badge-secondary">
                                    <a class="badge text-white"
                                       href="?page={{ deleted_articles_list.previous_page_number }}"
                                       tabindex="-1">Previous</a>
                                </li>
                                {% else %}
                                <li class="badge badge-pill badge-secondary disabled">
                                    <span class="badge badge-pill badge-secondary">Previous</span>
                                </li>
                                {% endif %}
                                {% for i in deleted_articles_list.paginator.page_range %}
                                {% if deleted_articles_list.number == i %}
                                <li class="page-item active">
                                          <span class="page-link">
                                            {{ i }}
                                            <span class="sr-only">(current)</span>
                                          </span>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if deleted_articles_list.has_next %}
                                <li class="badge badge-pill badge-secondary">
                                    <a class="badge text-white"
                                       href="?page={{ deleted_articles_list.next_page_number }}">Next</a>
                                </li>
                                {% else %}
                                <li class="badge badge-pill badge-secondary disabled">
                                    <span class="badge badge-pill badge-secondary">Next</span>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}