{% extends 'dashboard/base.html' %}
{% load static %}
{% load only_hours %}

{% block content %}


<div class="container mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 class="title">Published Posts</h4>
                </div>
                <div class="card-body">
                    <div class="content">
                        <section class="blog-list px-3 py-5 p-md-5">
                            {% if published_articles_list %}
                            <div class="container">
                                {% for article in published_articles_list %}
                                <div class="item mb-5">
                                    <div class="media">
                                        <img style="border-radius:10px; height: 400px;" class="mr-3 img-fluid post-thumb d-none d-md-flex" width="352" height="235"
                                             src="{{ article.image.url }}" alt="image">
                                        <div class="media-body">
                                            <h3 class="title mb-1"><a
                                                    href="{% url 'accounts:dashboard_post_detail' slug=article.slug %}">{{article.title }}</a></h3>
                                            <div class="meta mb-1"><span class="date"><b>Published:</b> <i>{{ article.date_published|timesince|upto:','}} ago</i></span><br>
                                                <span class="time">{{ article.count_words }} word{{ article.count_words|pluralize }}</span><br>
                                                <span class="time">{{ article.read_time }} min{{ article.read_time|pluralize }} read</span>
                                                <span class="comment">{{ article.total_views }} view{{ article.total_views|pluralize }}</span><br>
                                                <span class="comment">{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</span><br>
                                                <span class="time">
                                                                <i class="fas fa-chevron-down" data-toggle="dropdown"
                                                                   aria-haspopup="true" aria-expanded="false">
                                                                </i>
                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item"
                                                                       href="{% url 'accounts:update_post' slug=article.slug %}">Edit Post</a>
                                                                    <div class="dropdown-divider w-100"></div>
                                                                    <a data-toggle="modal" data-target="#publishModal{{article.id}}"
                                                                       class="dropdown-item" href="javascript:void(0)">Save as draft</a>
                                                                    <div class="dropdown-divider w-100"></div>
                                                                    <a data-toggle="modal" data-target="#deleteModal{{article.id}}"
                                                                       class="dropdown-item" href="javascript:void(0)">Delete Post</a>
                                                                </div>
                                                              </span>
                                            </div>
                                            <a class="btn btn-sm btn-outline-secondary"
                                               href="{% url 'accounts:dashboard_post_detail' slug=article.slug %}">View
                                                details &rarr;</a>
                                            <hr class="solid"><!-- Solid divider -->
                                        </div><!--//media-body-->
                                    </div><!--//media-->
                                </div><!--//item-->

                                <div class="modal fade" id="publishModal{{article.id}}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"><b>Ready to save the post as draft?</b></h5>
                                                <button
                                                        class="close"
                                                        type="button"
                                                        data-dismiss="modal"
                                                        aria-label="Close"
                                                >
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Select "Draft Post" below if you want to draft the post.
                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                        class="btn btn-secondary"
                                                        type="button"
                                                        data-dismiss="modal"
                                                >
                                                    Cancel
                                                </button>
                                                <a class="btn btn-primary"
                                                   href="{% url 'accounts:draft_post' article.slug %}">Draft
                                                    Post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--//Publish Modal-->

                                <div class="modal fade" id="deleteModal{{article.id}}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"><b>Ready to Delete
                                                    Post?</b></h5>
                                                <button
                                                        class="close"
                                                        type="button"
                                                        data-dismiss="modal"
                                                        aria-label="Close"
                                                >
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Select "Delete post" below if you want to delete the post.
                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                        class="btn btn-secondary"
                                                        type="button"
                                                        data-dismiss="modal"
                                                >
                                                    Cancel
                                                </button>
                                                <a class="btn btn-danger"
                                                   href="{% url 'accounts:delete_post' slug=article.slug %}">Delete
                                                    Post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <center>
                                <div class="alert alert-info"><b>No Published Posts</b></div>
                            </center>
                            {% endif %}
                        </section>

                        {# Pagination for article post #}
                        <nav aria-label="Page navigation example">
                            {% if published_articles_list.has_other_pages %}
                            <ul class="pagination justify-content-center">
                                {% if published_articles_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ published_articles_list.previous_page_number }}"
                                       tabindex="-1">Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                                {% endif %}
                                {% for i in published_articles_list.paginator.page_range %}
                                {% if published_articles_list.number == i %}
                                <li class="page-item active">
                                              <span class="page-link">
                                                {{ i }}
                                                <span class="sr-only">(current)</span>
                                              </span>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                                {% endif %}

                                {% endfor %}
                                {% if published_articles_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ published_articles_list.next_page_number }}">Next</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Next</span>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}